{{ 'bakuchiol-product-slider.css' | asset_url | stylesheet_tag }}

<div class="bakuchiol-product-slider__wrapper" id="bakuchiol-product">
  <!-- Big slider -->
  <div class="swiper bakuchiol-product-slider__big">
    <div class="swiper-wrapper">
      {%- assign media_counter = 0 -%}
      {%- for media in product.media -%}
        {%- if media.media_type == 'image' -%}
          <div class="swiper-slide">
           {{ media | image_url | image_tag: loading: 'lazy', alt: media.alt | escape }}
          </div>
          {%- assign media_counter = media_counter | plus: 1 -%}
        {%- endif -%}
      {%- endfor -%}
    </div>

    <div class="bakuchiol-product-slider-navigation">
      <div class="bakuchiol-product__pagination"></div>
        <div class="bakuchiol-product-slider__btns">
          <button class="bakuchiol-slider__btn prev bakuchiol-product-slider__btn--prev">
            <svg
              width="30px"
              height="30px"
              viewBox="-19.04 0 75.804 75.804"
              xmlns="http://www.w3.org/2000/svg"
              fill="#ffffff"
            >
              <g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <g id="Group_65" data-name="Group 65" transform="translate(-831.568 -384.448)"> <path id="Path_57" data-name="Path 57" d="M833.068,460.252a1.5,1.5,0,0,1-1.061-2.561l33.557-33.56a2.53,2.53,0,0,0,0-3.564l-33.557-33.558a1.5,1.5,0,0,1,2.122-2.121l33.556,33.558a5.53,5.53,0,0,1,0,7.807l-33.557,33.56A1.5,1.5,0,0,1,833.068,460.252Z" fill="#ffffff"></path> </g> </g>
            </svg>
          </button>
          <button class="bakuchiol-slider__btn bakuchiol-product-slider__btn--next">
            <svg
              width="30px"
              height="30px"
              viewBox="-19.04 0 75.804 75.804"
              xmlns="http://www.w3.org/2000/svg"
              fill="#ffffff"
            >
              <g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <g id="Group_65" data-name="Group 65" transform="translate(-831.568 -384.448)"> <path id="Path_57" data-name="Path 57" d="M833.068,460.252a1.5,1.5,0,0,1-1.061-2.561l33.557-33.56a2.53,2.53,0,0,0,0-3.564l-33.557-33.558a1.5,1.5,0,0,1,2.122-2.121l33.556,33.558a5.53,5.53,0,0,1,0,7.807l-33.557,33.56A1.5,1.5,0,0,1,833.068,460.252Z" fill="#ffffff"></path> </g> </g>
            </svg>
          </button>
        </div>
      </div>
  </div>

  <!-- (thumbs) -->
  {% comment %} <div thumbsSlider="" class="swiper bakuchiol-product-slider__thumbs">
    <div class="swiper-wrapper">
      {%- assign media_counter = 0 -%}
      {%- for media in product.media -%}
        {%- if media.media_type == 'image' -%}
          <div class="swiper-slide">
            <div class="bakuchiol-product-slider__image-thumbs">
              {{ media | image_url: width: 165 | image_tag: loading: 'lazy', alt: media.alt | escape }}
            </div>
          </div>
          {%- assign media_counter = media_counter | plus: 1 -%}
        {%- endif -%}
      {%- endfor -%}
    </div>
  </div> {% endcomment %}
</div>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    {% comment %} var swiper = new Swiper('.bakuchiol-product-slider__thumbs', {
      spaceBetween: 10,
      slidesPerView: 4,
      watchSlidesProgress: true,

      breakpoints: {
        1023: {
          direction: 'vertical',
        },
      },
    }); {% endcomment %}

    var swiper2 = new Swiper('.bakuchiol-product-slider__big', {
      spaceBetween: 5,
      speed: 800,

      pagination: {
        el: '.bakuchiol-product__pagination',
        clickable: true,
        type: "bullets",
        bulletClass: "bakuchiol-product-slider-bullets",
        bulletActiveClass: "bakuchiol-product-slider-bullets-active",

        renderBullet: function (index, className) {
          let number = index + 1;
          let formatted = number < 10 ? "0" + number : number;
          return '<span class="' + className + '">' + formatted + '</span>';
        }
      },

      navigation: {
        nextEl: '.bakuchiol-product-slider__btn--next',
        prevEl: '.bakuchiol-product-slider__btn--prev',
      },

      {% comment %} thumbs: {
        swiper: swiper,
      }, {% endcomment %}

      breakpoints: {
        1023: {
          spaceBetween: 10,
        },
      },
    });
  });
</script>
