{{ 'bakuchiol-footer.css' | asset_url | stylesheet_tag }}

<section class="bakuchiol-footer section-top">
  <div class="bakuchiol-footer__wrapper page-width">
    <h2 class="bakuchiol-footer__title section-title-bakuchiol">
      Let’s build together the future of <span>healthy skin.</span>
    </h2>

    <div class="bakuchiol-footer__body">
      <div class="bakuchiol-footer__text">
        <p>
          Formulated for all skin types, including sensitive skin, this serum delivers powerful results using clean,
          vegan, and cruelty-free ingredients. It’s the perfect blend of nature and science for glowing, youthful-looking
          skin.
        </p>
      </div>

      {% for block in section.blocks %}
        {% if block.type == 'collection' and block.settings.collection != blank %}
          <a
            class="bakuchiol-footer__link button-custom button-custom__black"
            href="{{ block.settings.collection.url }}"
          >
            Shop Bakuchiol Collection
          </a>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Bakuchiol Footer",
  "blocks": [
    {
      "type": "collection",
      "name": "Collection link",
      "settings": [
        {
          "type": "collection",
          "id": "collection",
          "label": "Select a collection"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Bakuchiol Footer",
      "blocks": [
        {
          "type": "collection"
        }
      ]
    }
  ]
}
{% endschema %}