{{ 'bakuchiol-footer.css' | asset_url | stylesheet_tag }}

<section class="bakuchiol-footer section-top">
  <div class="bakuchiol-footer__wrapper page-width">
    <h2 class="bakuchiol-footer__title section-title-bakuchiol">
      Let’s build together the future of <span style="color: 
#b19cd6;">healthy skin.</span>
    </h2>

    <div class="bakuchiol-footer__body">
      <div class="bakuchiol-footer__text">
        <p>
          Crafted for every skin type, the Bakuchiol Skin collection combines clean, vegan ingredients with the power of bakuchiol to reveal smoother, brighter, more luminous skin. A modern, gentle approach to age-defying skincare.

        </p>
      </div>

      {% for block in section.blocks %}
        {% if block.type == 'collection' and block.settings.collection != blank %}
          <a
            class="bakuchiol-footer__link button-custom button-custom__black"
            href="{{ block.settings.collection.url }}"
          >
            Shop Now
          </a>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Bakuchiol Footer",
  "blocks": [
    {
      "type": "collection",
      "name": "Collection link",
      "settings": [
        {
          "type": "collection",
          "id": "collection",
          "label": "Select a collection"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Bakuchiol Footer",
      "blocks": [
        {
          "type": "collection"
        }
      ]
    }
  ]
}
{% endschema %}