{{ 'faq-with-text.css' | asset_url | stylesheet_tag }}

<div class="faq-with-image faq-with-text page-width">
  <div class="faq-with-image__wrapper section-top">
    <div class="faq-with-image__text">
      <h2 class="faq-with-image__title section-title-bakuchiol">any questions?</h2>
      <p class="faq-with-image__subtitle">
        Your most common questions about Bakuchiol — answered simply and clearly.
      </p>

    </div>
    <ul class="faq">
      {% for block in section.blocks %}
        <li class="faq__item" {{ block.shopify_attributes }}>
          <h3 class="faq__item-title">{{ block.settings.title }}</h3>
          <div class="faq__item-text">
            <div class="faq__item-text-wrapper">
              {{ block.settings.text }}
            </div>
          </div>
        </li>
      {% endfor %}
    </ul>
  </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        const faqItems = document.querySelectorAll(".faq .faq__item");

        faqItems.forEach(function (item) {
            const title = item.querySelector(".faq__item-title");

            if (title) {
            title.addEventListener("click", function () {
                item.classList.toggle("active");
            });
            }
        });
    });
</script>

{% schema %}
{
  "name": "FAQ with text",
  "tag": "section",

  "blocks": [
    {
      "type": "faq_item",
      "name": "FAQ Item",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Question"
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "Answer"
        }
      ]
    }
  ],
  "max_blocks": 10,
  "presets": [
    {
      "name": "FAQ Section (with text)",
      "blocks": [
        {
          "type": "faq_item",
          "settings": {
            "title": "WHAT IS BAKUCHIOL?"
          }
        }
      ]
    }
  ]
}
{% endschema %}
