 {{ 'hero.css' | asset_url | stylesheet_tag }}

<section class="hero">
  <div class="hero__wrapper">
    <div class="hero__image">
      <img src="{{ 'bakuchiol-hero.jpg' | asset_url }}" width="1820" height="998" loading="eager"> 
    </div>
    <div class="hero__image hero__image--mobile">
     <img src="{{ 'bakuchiol-hero-mobile.jpg' | asset_url }}" width="828" height="1132" loading="eager"> 
    </div>

    <div class="hero__content">
        <h1 class="hero__title">NATURE’S SECRET TO better aging</h1>
        
        <div class="hero__info">
          <p class="hero__subtitle">TRANSFORM YOUR SKIN IN 30 DAYS: YOUR STORY, YOUR GLOW.</p>

          {% for block in section.blocks %}
            {% if block.type == 'product' and block.settings.product %}
              {% assign product = block.settings.product %}
              <a class="hero__product-link" href="{{ product.url }}">Try KOJIC SERUM Now</a>
            {% endif %}
          {% endfor %}
        </div>
    </div>

    <div class="hero__bottom">
     
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Hero",
  "blocks": [
    {
      "type": "product",
      "name": "Product link",
      "settings": [
        {
          "type": "product",
          "id": "product",
          "label": "Select a product"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Hero",
      "blocks": [
        {
          "type": "product"
        }
      ]
    }
  ]
}
{% endschema %}

