.bakuchiol-price__wrapper {
  display: flex;
  flex-direction: column-reverse;
  gap: 3rem;
}

.bakuchiol-price__image {
  display: flex;
  flex-shrink: 0;
  width: calc(100% + 3rem);
  margin-left: -1.5rem;
  
  margin-right: auto;

  img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
}

.bakuchiol-price__content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}


.bakuchiol-price__content-top {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.bakuchiol-price__content-title {
  margin: initial;
  padding-bottom: 1rem;
  font-size: 1.4rem;
  line-height: 133%;
  text-transform: uppercase;
  border-bottom: 0.1rem solid #6D6D6D;
}

.bakuchiol-price__content-titles {
  display: flex;
  flex-direction: column;

  h2, h3 {
    margin: initial;
  }

  h2 {
    text-transform: uppercase;
    font-size: 3.8rem;
    line-height: 100%;
    font-weight: 600;
  }

  h3 {
    text-transform: uppercase;
    font-size: 2.2rem;
    line-height: 133%;
    font-weight: 600;
  }
}

.bakuchiol-price__content-price {
  display: flex;
  align-items: center;
  gap: 1rem;

  .product-price {
    color: #1d1440;
  }

  .product-compare-price {
    color: #858585;
    text-decoration: line-through;
  }

  .bakuchiol-price__label {
    background-color: #1d1440;
    color: #fff;
    text-transform: uppercase;
    padding: 1rem 1.5rem;
  }

  .product-price, .product-compare-price {
    font-size: 2rem; 
  }
}

.bakuchiol-price__content-bottom {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.bakuchiol-price__content-description {
  p {
    margin: initial;
    font-size: 1.6rem;
    text-transform: uppercase;
    line-height: 166%;
  }
}


.bakuchiol-price__section-lable {
  display: flex;
  margin-top: 5rem;
  gap: 2rem;
  max-width: 28rem;

  span {
    position: relative;
    margin-top: 0.4rem;
    display: flex;
    flex-shrink: 0;
    width: 1.5rem;
    height: 1.5rem;
    background-color: #1d1440;

    &::before {
      content: '';
      position: absolute;
      top: -0.5rem;
      z-index: -1;
      left: -0.5rem;
      width: 1.5rem;
      height: 1.5rem;
      background-color: #fff;
    }
  }

  p {
    margin: initial;
    text-transform: uppercase;
    line-height: 133%;
  }
}

@media screen and (min-width: 575px) {
  .bakuchiol-price__image {
    max-width: 40rem;
    width: initial;
    margin-left: auto;
    margin-right: auto;
  }

}

@media screen and (min-width: 1023px) {
  .bakuchiol-price__wrapper {
    flex-direction: row;
  }

  .bakuchiol-price__content-title {
    font-size: 1.8rem;
    line-height: 122%;
  }

  .bakuchiol-price__image {
    max-width: 50rem;
  }

  .bakuchiol-price-link {
    max-width: 41rem;
  }

  .bakuchiol-price__content-titles {
    h2 {
      font-size: 5.4rem;
    }
    h3 {
      font-size: 3.1rem;
    }
  }

  .bakuchiol-price__content-price {
    gap: 2rem;
    .product-price, .product-compare-price {
      font-size: 3.2rem; 
    }
  }

  .bakuchiol-price__section-lable  {
    max-width: 32rem;

    p {
       font-size: 2rem;
    }
  }
}

@media screen and (min-width: 1280px)  {
  .bakuchiol-price__image {
    max-width: 60rem;
  }

  .bakuchiol-price__wrapper {
    gap: 5rem;
  }

  .bakuchiol-price__content-title {
    font-size: 2rem;
  }

  .bakuchiol-price__content-description {
    p {
      font-size: 2rem;
    }
  }

  .bakuchiol-price__content-titles {
    h2 {
      font-size: 6rem;
    }
    h3 {
      font-size: 3rem;
    }
  }
}

@media screen and (min-width: 1440px)  {
  .bakuchiol-price__image {
    max-width: 70rem;
  }

  }
}

@media screen and (min-width: 1680px)  {
  .bakuchiol-price__image {
    max-width: 90rem;
  }

  .bakuchiol-price__content-titles {
    h2 {
      font-size: 10rem;
    }
    h3 {
      font-size: 6rem;
    }
  }
}



  @media (min-width: 767px) {
     .mobile-button {
     display: none !important;
  }
  }


@media (max-width: 767px) {
  .bakuchiol-price__content-description {
    display: none !important;
  }

  .desktop-button {
    display: none !important;
  }


 
}