/* =========================
   BAKUCHIOL PRODUCT SLIDER
   ========================= */

.bakuchiol-product-slider__wrapper {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

@media screen and (min-width: 1023px) {
  .bakuchiol-product-slider__wrapper {
    position: sticky;
    top: 3rem;
    gap: 2rem;
  }
}

@media screen and (min-width: 1480px) {
  .bakuchiol-product-slider__wrapper {
    flex-direction: row-reverse;
    margin-bottom: initial;
    max-width: initial;
    margin-left: initial;
    margin-right: initial;
  }
}

.bakuchiol-product-slider__big {
  position: relative;
  width: 100%;
}

/* NAVIGATION + PAGINATION */

.bakuchiol-product-slider-navigation {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 2;
}

.bakuchiol-product__pagination {
  position: absolute;
  display: flex;
  justify-content: center;
  gap: 1rem;
  bottom: 1rem;
  width: 100%;
}

.bakuchiol-product-slider-bullets {
  color: #fff;
  transition: color 0.3s linear;
  cursor: pointer;
}

.bakuchiol-product-slider-bullets-active {
  color: #000;
}

.bakuchiol-product-slider__btns {
  position: absolute;
  display: flex;
  justify-content: space-between;
  padding-left: 2rem;
  padding-right: 2rem;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  width: 100%;
}

/* THUMBS LAYOUT (if re-enabled) */

@media screen and (min-width: 550px) {
  .bakuchiol-product-slider__big {
    width: 100%;
    margin-left: initial;
  }

  .bakuchiol-product-slider__thumbs {
    margin-left: initial;
    padding-left: initial;
    padding-right: initial;
  }
}

@media screen and (min-width: 992px) {
  .bakuchiol-product-slider__thumbs {
    display: block;
    flex-shrink: 0;
    padding-bottom: 0.2rem;
  }

  .bakuchiol-product-slider__thumbs .swiper-wrapper .swiper-slide:last-child {
    margin-right: initial !important;
  }
}

@media screen and (min-width: 1023px) {
  .bakuchiol-product-slider__thumbs {
    max-height: 44rem;
    width: 8rem;
    left: 2rem;
    bottom: 2rem;
    height: 70%;
    transform: initial;
  }
}

@media screen and (min-width: 1180px) {
  .bakuchiol-product-slider__thumbs {
    width: 8rem;
  }
}

@media screen and (min-width: 1280px) {
  .bakuchiol-product-slider__thumbs {
    width: 9rem;
  }
}

@media screen and (min-width: 1480px) {
  .bakuchiol-product-slider__thumbs {
    width: 12rem;
  }
}

/* THUMB IMAGES */

.bakuchiol-product-slider__image-thumbs img {
  border-radius: 0rem;
}

.bakuchiol-product-slider__image-thumbs,
.bakuchiol-product-slider__image-big {
  img {
    height: auto;
    width: 100%;
    object-fit: cover;
  }
}

.bakuchiol-product-slider__image-thumbs {
  display: flex;
  max-width: initial;
  height: 100%;
  border-radius: 1rem;
  overflow: hidden;
  cursor: pointer;
  border: 0.1rem solid transparent;
  transition: border 0.3s linear;
}

@media screen and (min-width: 1480px) {
  .bakuchiol-product-slider__image-thumbs {
    max-width: 16rem;
  }
}

/* BIG IMAGE WRAPPER */

.bakuchiol-product-slider__image-big {
  display: flex;
  height: 100%;
}

/* =========================
   CLICK-TO-ZOOM STYLES
   ========================= */

/* Treat both the BEM + JS classes as the zoom container */
.bakuchiol-product-slider__image-big,
.js-zoom-container {
  position: relative;
  overflow: hidden;
  cursor: zoom-in;
}

/* Base image styles for zoom */
.bakuchiol-product-slider__img,
.js-zoom-img {
  width: 100%;
  height: auto;
  object-fit: cover;
  transform: scale(1);
  transition: transform 0.25s ease-out, transform-origin 0s;
  will-change: transform;
}

/* Zoomed state */
.bakuchiol-product-slider__image-big.is-zoomed .bakuchiol-product-slider__img,
.js-zoom-container.is-zoomed .js-zoom-img {
  transform: scale(2.4); /* adjust zoom strength here */
  cursor: zoom-out;
}

/* Mobile / touch tweaks */
@media screen and (max-width: 1022px) {
  .bakuchiol-product-slider__image-big,
  .js-zoom-container {
    touch-action: manipulation;
  }

  .bakuchiol-product-slider__image-big.is-zoomed .bakuchiol-product-slider__img,
  .js-zoom-container.is-zoomed .js-zoom-img {
    transform: scale(2); /* slightly less aggressive zoom on small screens */
  }
}