.hero {
  margin-top: -8.5rem;
  position: relative;
}

.hero__wrapper {
 display: flex;
 flex-direction: column-reverse;
 justify-content: flex-end;
 gap: 1.5rem;
 min-height: 60rem;
 overflow: hidden;
 padding-left: 1rem;
 padding-right: 1rem;
 padding-bottom: 2rem;
 padding-top: 1.5rem;
}

.hero__image {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-position: bottom;
  z-index: -1;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: bottom;
  }
}

.hero__image--mobile {
  display: flex;

  img {
    object-position: left bottom;
  }
}

.hero__content {
  display: flex;
  flex-direction: column;
  gap: 22rem;
  margin-top: 10rem;
}

.hero__title {
  font-size: 3.2rem;
  max-width: 25rem;
  line-height: 108%;
  font-weight: 700;
  color: #fff;
  margin: initial;
  text-transform: uppercase;
}

.hero__info {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 2rem;
}

.hero__subtitle {
  font-size: 1.6rem;
  line-height: 133%;
  font-weight: 500;
  max-width: 24rem;
  color: #fff;
  margin: initial;
}

.hero__product-link {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #1d1440;
  background-color: #fff;
  text-decoration: none;
  min-height: 4rem;
  width: 100%;
  max-width: 30rem;
  text-transform: uppercase;
  font-size: 1.4rem;
  line-height: 100%;
  font-weight: 500;
  padding-left: 1rem;
  padding-right: 1rem;
  transition: color 0.3s linear, background-color 0.3s linear;
}

.hero__product-link:hover {
  color: #fff;
  background-color: #1d1440;
}



@media screen and (min-width: 575px) {
  .hero__wrapper {
    min-height: 70rem;
  }

  .hero__content {
    gap: 33rem;
  }
}


@media screen and (min-width: 1023px) {
  .hero {
    height: 100vh;
  }

  .hero__wrapper {
    padding-left: 3rem;
    padding-right: 3rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
    height: 100%;
  }

  .hero__content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 3rem;
    margin-top: auto;
  }

  .hero__title {
    font-size: 6rem;
    max-width: 35rem;
  }

  .hero__info {
    max-width: 48rem;
  }

  .hero__subtitle {
    font-size: 2.4rem;
    margin-top: auto;
    max-width: 37rem;
  }

  .hero__product-link {
    font-weight: 500;
    min-height: 5rem;
    max-width: initial;
    font-size: 2.4rem;
  }

  .hero__image {
    display: flex;
  }

  .hero__image--mobile {
    display: none;
  }
}


@media screen and (min-width: 1380px) {
  .hero__wrapper {
    padding-bottom: 3rem;
    padding-left: 5rem;
    padding-top: 10rem;
    padding-right: 5rem;
  }

  .hero__subtitle {
    font-size: 2.4rem;
  }
}


