/* WRAPPER */
.what-inside__wrapper {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding: 2rem 0;
}

@media screen and (min-width: 1023px) {
  .what-inside__wrapper {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: 6rem;
  }
}

/* CONTENT */
.what-inside__content {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  width: 100%;
}

@media screen and (min-width: 1023px) {
  .what-inside__content {
    max-width: 70%;
    gap: 4rem;
  }
}

/* LIST */
.what-inside__list {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  list-style: none;
  padding: 0;
  margin: 0;
}

/* EACH INGREDIENT */
.what-inside__item {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-bottom: 1.5rem;
  border-bottom: 1px solid #000;
}

/* TITLE */
.what-inside__item h3 {
  margin: 0;
  font-weight: 600;
  line-height: 130%;
  color: #000;
  font-size: 2rem;
  letter-spacing: 0.02em;
}

/* DESCRIPTION */
.what-inside__item p {
  margin: 0;
  font-weight: 500;
  line-height: 135%;
  font-size: 1.4rem;
  text-transform: uppercase;
  opacity: 0.75;
}

@media screen and (min-width: 1023px) {
  .what-inside__item h3 {
    font-size: 3rem;
  }

  .what-inside__item p {
    font-size: 1.6rem;
  }
}